@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #31261a;
  --color-primari-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/*Base*/
body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

/*Button Styles*/
.button {
  color: #faf4ea;
  background-color: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}
/*Link Styles*/
.link {
  color: var(--color-primari-light);
  line-height: 1.5;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.hero-section {
  padding: 272px 0;
}
/*hero title styles*/
.hero-title {
  color: var(--color-primari-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-light);
}
/*advantages list styles*/
.advatages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primari-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}
/*section title styles*/
.section-title {
  font-style: 64px;
  font-weight: 900px;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
}

.chefs-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.contact-title {
  margin-bottom: 16px;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primari-light);
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}
